## Lab 7 Exercise 2 - EDA & Spark SQL in PySpark

First configure our PySpark environment below, and then let's load the data from S3 into our Spark session.

In [ ]:
%%configure -f
{
    "conf": {
        "spark.pyspark.python": "python3",
        "spark.pyspark.virtualenv.enabled": "true",
        "spark.pyspark.virtualenv.type":"native",
        "spark.pyspark.virtualenv.bin.path":"/usr/bin/virtualenv"
    }
}

Then load the NOAA Global Historical Climatology Network (GHCN) Daily Weather Data. Documentation of the dataset: https://docs.opendata.aws/noaa-ghcn-pds/readme.html

In [ ]:
df = spark.read.csv('s3://noaa-ghcn-pds/csv/by_year/2024.csv', header=True)

Take a look at the data:

In [ ]:
df

In [ ]:
df.printSchema()

In [ ]:
df.count() # return total count of rows in dataset

Given that Spark DataFrames are built off of RDDs, we can still use methods like `take` to make small amounts of our data visible as list (we almost will never want to `collect` our data when working with big data, though; **ask**: Why?):

Spark SQL also includes a `show` method that makes this a bit prettier, though:

In [ ]:
df.show(5)

## Exploring Data with Spark SQL

In [ ]:
import pyspark.sql.functions as F

In [ ]:
# Convert column types
df = df.withColumn("DATE", F.col("DATE").cast("int"))
df = df.withColumn("DATA_VALUE", F.col("DATA_VALUE").cast("double"))
# convert unit of temperature
df = df.withColumn("DATA_VALUE", F.col("DATA_VALUE") / 10.0)

For the following 2 tasks, you can choose to complete using SQL queries or built-in Spark functions.

TODO 1: 
Print out the date and maximum temperature from the DataFrame (ELEMENT is "TMAX") for each date, and order by date.

In [ ]:
# option 1
df.createOrReplaceTempView("weather")
query = """
        
        """
max_temperatures = spark.sql(query)
max_temperatures.show()

In [ ]:
# option 2
max_temperatures = # 
max_temperatures.show()

TODO 2: Add another condition to filter out temperature lower than 47 degrees Celsius (note the unit of temperature in the data is tenths of degrees Celsius), and change the order to be by max temperature in descending order.

In [ ]:
# option 1
df.createOrReplaceTempView("weather")
query = """
            
        """
max_temperatures = spark.sql(query)
max_temperatures.show()

In [ ]:
# option 2
max_temperatures = #
max_temperatures.show()